/* Main Styling */
main {
    max-width: 2000px;
    margin: 20px auto;
    padding: 20px;
}

/* Featured Game Container */
#featured-game {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* Featured Game Info Card */
#featured-game-info-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Ensures padding is included in the element's width */
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

#featured-game-info-card li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#title {
    font-size: 1.8em;
    font-weight: bold;
}

/* Featured Game Banner */
#featured-game-banner-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}

#featured-game-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Show More / Show Less Button */
.show-toggle-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.show-toggle-btn:hover {
    background-color: var(--accent-color);
    color: white;
}

/* h2 for Popular Games */
#popular-games {
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the element's width */
    text-align: center;
    margin: 40px 0 20px;
    font-size: 2rem;
    color: white;
    font-family: var(--header-font);
    border-radius: 8px;
    background-color: var(--primary-color);
    padding: 10px;
    overflow-wrap: break-word;
}

/* Game Grid */
.game-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Game Card */
.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 350px;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.game-card img {
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
    object-fit: cover;
}

.game-card h3 {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-size: 1.1rem;
    margin: 10px 0;
}

.game-card p {
    color: black;
    font-size: 1em;
    margin-top: 10px;
    padding: 0 10px;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.pagination-btn {
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination-btn:hover {
    background-color: var(--accent-color);
    color: #ffff;
}

.pagination-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #featured-game {
        flex-direction: column;
        align-items: center;
    }

    #featured-game-info-card,
    .featured-game-banner {
        width: 100%;
    }

    .game-grid {
        flex-direction: column;
    }

    .game-card {
        width: 90%;
        min-height: 500px;
    }
}
